.profile-container {
    background-color: #DCDCDC;
    padding: 8px;
}

.profile-name {
    text-align: center;
    margin-top: 2%;
    color: black;
    font-weight: 1.1em;
    padding: 8px;
}

.switch-account {
    color: black;
    margin: 2%;
    padding: 2%;
}