<div class="container-fluid" >
    <div class="row row-justify-content-center">
        <div class="col-md-3 left" >
              <app-left></app-left>
        </div>
        <div class="col-md-6">
             <router-outlet></router-outlet>
              <!-- <app-user-feed></app-user-feed> -->
              <!-- <app-profile></app-profile> -->
        </div>
        <div class="col-md-3" style="padding-left:0px; padding-right:0px">
          <app-right></app-right>
        </div>
    </div>
</div>
