<div class="card create-post">
  <div class="card-body">
       <div class="pic_username">
           <img src="assets/img/mike.jpg" width=30 class=" rounded-circle">
           <span >Jenefer Lawrun</span>
       </div>
        <textarea  class="form-control" placeholder="What is in your mind?" id="exampleFormControlTextarea1" rows="2">
        </textarea>

          <!-- <image-upload
          url="http://mockbin.org/request"
          buttonCaption=""
          dropBoxMessage=""
          clearButtonCaption="">
         </image-upload> -->
         <!-- <p style="">
             <i class="fa fa-picture-o" aria-hidden="true" style="color: black"></i>
         </p> -->

        <button style="float:right; margin-top: 1%"  class="btn-sm btn btn-primary btn-simple">Post</button>

  </div>

</div>
<app-post></app-post>
