.card.create-post {
  background-color: white;
  border-radius: 14px;
  margin-top: 3px;
}

.pic_username span {
  color:black;
  margin-left: 16px
}

.card {
  background-color: white;
}

p {
  color: black
}

.post-content img {
  object-fit: cover;
}
