<div class="row" style="padding-left: 10px;">
    <div class="card post" *ngFor="let user of allusers">
        <div class="card-body">
          <div class="pic_username">
                <img src="assets/img/mike.jpg" width=30 class=" rounded-circle">
                <span >{{ user.firstname }}  {{ user.lastname}}</span>
          </div>
          <div class="post-content">
            <!-- <button  *ngIf="user." (click)="unfollow(user._id)" class="btn btn-sm btn-primary btn-neutral" style="float:right">Unfollow</button> -->
            <button (click)="follow(user._id)" class="btn btn-sm btn-primary btn-neutral" style="float:right">follow</button>
          </div>
        </div>
      </div>
      
</div>