.pic_username span {
    color:black;
    margin-left: 16px
  }
  
  .card {
      padding: 0px;
      width: 30%;
      margin-left: 4px;
    background-color: #e8e8e8
}
  
  p {
    color: black
  }
  
  .post-content img {
    object-fit: cover;
  }