<div class="card post">
  <div class="card-body">
    <div class="pic_username">
          <img src="assets/img/mike.jpg" width=30 class=" rounded-circle">
          <span >Jenefer Lawrun</span>
    </div>
    <div class="post-content">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
          </p>
         <img height="300px" width="700px"  src="assets/img/post.jpeg" style=""/>
    </div>
  </div>
  <div class="card-footer row">
         <p class="col-sm-10"><i class="fa fa-thumbs-up" aria-hidden="true"></i>4</p>
         <p class="col-sm-2"><i class="fa fa-comment" aria-hidden="true"></i>4</p>
  </div>
</div>
