<div class="card">
    <div class="card-header">
      <tabset class="nav-tabs-primary">
        <tab>
          <ng-template tabHeading>
            <span class="nv-link">
              <i class="tim-icons icon-satisfied"> </i> My posts

            </span>
          </ng-template>
          <app-my-post></app-my-post>
        </tab>
        <tab>
          <ng-template tabHeading>
             <span class="nv-link">
                  <i class="tim-icons icon-single-02"> </i>
                  followers
             </span>

          </ng-template>
          <p>
            Completely synergize resource taxing relationships via
            premier niche markets. Professionally cultivate one-to-one
            customer service with robust ideas. <br />

            <br />

            Dynamically innovate resource-leveling customer service
            for state of the art customer service.
          </p>
        </tab>
        <tab>
          <ng-template tabHeading>
            <span class="nv-link">
                 <i class="tim-icons icon-single-02"> </i> followings
            </span>

          </ng-template>
          <p>
            Efficiently unleash cross-media information without
            cross-media value. Quickly maximize timely deliverables
            for real-time schemas. <br />

            <br />

            Dramatically maintain clicks-and-mortar solutions without
            functional solutions.
          </p>
        </tab>

        <tab>
          <ng-template tabHeading>
            <span class="nv-link">
                 <i class="tim-icons icon-single-02"> </i> People
            </span>

          </ng-template>
          <p>
            <app-people></app-people>
          </p>
        </tab>
      </tabset>
    </div>
  </div>
