.card {
  background-color: #f7f7f7;
  border-color: #f7f7f7 !important
}

.profile {
 margin-top: 18%;
 
}
span, h1, h2, h3, h4 {
 color: black;
}
.profile-picture {
 margin-left: 8%;;
 margin-top: 3%;
 position: relative;
 z-index: 1;
 width: 200px;
 height:200px;
 background-image:url(/assets/img/profile.png);
 background-size: contain;
 border-radius: 1em;
}
.profile-picture img {
 width: 200px;
 height: 200px;
 position: absolute;
 z-index: 2;
 border-radius: 1em;
}
.profile-picture label {
 width: 200px;
 height: 200px;
 position: relative;
 z-index: 3;
}
.profile-picture .drag-over .infotext {
 color: white;
 border: dashed 5px white;
}
.profile-picture .infotext {
 margin-left: 5px;
 margin-top: 5px;
 height: 190px;
 width: 190px;
 vertical-align: middle;
 text-align: center;
 color: rgba(255,255,255,0.8);
 // border: dashed 3px rgba(255,255,255,0.8);
 border-radius: 10px;
 padding-top: 110px;
 font-size: 150%;
}