<h4>New Advertisment</h4>
<button type="button" class="btn btn-secondary btn-lg btn-block" (click)="toggleAddPane()">{{buttonName[nameIndex]}}</button>
<div *ngIf="showNewAdPane">
    <form [formGroup]="advertisementForm" (ngSubmit)="onCreateNewPost()">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
            </div>
            <textarea formControlName="advertisementDescriptionTextArea" class="form-control" name="advertisementDescriptionTextArea" aria-label="With textarea" placeholder="Advert description here...." type="text " (focus)="focus=true" (blur)="focus=false"></textarea>
        </div>
        <div>
            <image-upload url=" http://localhost:3000/api/uploads/profile-image " [max]="2 " [extensions]="[ 'jpeg', 'png'] " [buttonCaption]=" 'Browse' " [style]="customStyle " (uploadFinished)="onUploadFinished($event) ">
            </image-upload>
        </div>
        <fieldset class="scheduler-border ">
            <legend class="scheduler-border ">Advertisment settings</legend>
            <div class="container-fluid ">
                <div class="row justify-content-center ">

                    <div class="col-md-6 ">
                        <div class="checkbox ">
                            <label><input formControlName ="targetAgeCheckBox" type="checkbox" value=" " name="targetAgeCheckBox " style="margin-right: 10px; ">Target by age group</label>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        Min:<input formControlName="minAge" type="number" name="minAge " min="18" value="18" style="max-width:50%;margin-left: 10px; ">
                    </div>
                    <div class="col-md-3 ">
                        Max:<input formControlName="maxAge" type="number" name="maxAge" min="19" value="19" style="max-width:50%;margin-left: 10px; ">
                    </div>
                </div>
                <br>
                <div class="row justify-content-center ">
                    <div class="col-md-6 ">
                        <div class="checkbox ">
                            <label><input formControlName="targetLocationCheckBox" type="checkbox" value=" " name="targetLocationCheckBox " style="margin-right: 10px; ">Target by location</label>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        Location:<input formControlName="location" name="location" type="text" style="margin-left: 2px; ">
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="button " class="btn btn-secondary btn-lg btn-block">Create Advertisment</button>
    </form>
</div>
<h2> Current Active Advertisements</h2>

<div class="card post" *ngFor="let advert of allAdvertisements; let arrayIndex=index">
    <div class="card-body ">
        <div class="post-content ">
            <div class="form-group">
                <!-- <span [innerHTML]="{{advert.description}} | linky"></span> -->
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea [disabled]=advertTextAreaStatus class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{advert.description}}" style="background-color: blanchedalmond;"></textarea>
            </div>
            <img ng-src="{{advert.imageUrl[0]}}" />
        </div>
    </div>
    <div class="card-footer row ">
        <!-- Modal -->
        <div>
            <div class="row" id="modals">
                <div class="col-md-4">
                    <button class="btn btn-success" data-target="#myModal2" (click)="myModal2.show()">
                    Edit
                  </button>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal" id="myModal2" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">

                            <div class="text-center text-muted mb-4 mt-3">
                                <small> Edit Advertisement</small>
                            </div>
                            <form role="form">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focus1===true}">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" (focus)="focus1=true" (blur)="focus1=false"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focus2===true}">
                                        <input class="form-control" placeholder="Password" type="password" (focus)="focus2=true" (blur)="focus2=false" />
                                    </div>
                                </div>
                                <div class="form-check mt-3">
                                    <label class="form-check-label">
                            <input
                              checked="checked"
                              class="form-check-input"
                              type="checkbox"
                            />
            
                            <span class="form-check-sign"> </span> Remember me!
                          </label>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary my-4" type="button">
                            Sign in
                          </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <p class="col-sm-6 ">
            <button class="btn btn-primary " name="editAdvert " (click)="editThisAdvert(advert._id) ">Edit</button>
        </p>
        <p class="col-sm-6 ">
            <button class="btn btn-primary " name="deleteAdvert " style="float:right; " (click)="deleteThisAdvert(arrayIndex) ">Delete</button>
        </p> -->
    </div>
</div>