<h4>Manage 'bad' words</h4>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add Bad Words</legend>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputBadWord">New Bad Word</label>
                <input type="email" class="form-control" id="inputBadWord" placeholder="Bad word">
            </div>
        </div>
        <button type="button" class="btn btn-default">Add Word</button>
    </form>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Current Bad Words</legend>
    <div class="col-md-12">
        <h4>Click on the word to remove it</h4>
        <span class="badge badge-default" style="margin: 1%;">bad words than
        <button class="btn btn-primary btn-fab btn-icon btn-round">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
    </span>
        <span class="badge badge-default" style="margin: 1%;">bad words than
        <button class="btn btn-primary btn-fab btn-icon btn-round">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
    </span>
        <span class="badge badge-default" style="margin: 1%;">bad words than
        <button class="btn btn-primary btn-fab btn-icon btn-round">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
    </span>
        <span class="badge badge-default" style="margin: 1%;">bad words than
        <button class="btn btn-primary btn-fab btn-icon btn-round">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
    </span>
    </div>
</fieldset>